In [2]:
import pandas as pd
import numpy as np
from functools import reduce
df = pd.read_excel('genderarrests.xlsx')
df.columns = ['Transit_District', 'Female', 'Male', 'Grand Total']   # Specify column names.
df = df[df.Transit_District != 'Transit Distict']                    # Remove typo and repeating column headers.
df = df[df.Transit_District.notnull()]                               # Remove NaN lines
df = df.drop('Grand Total', axis=1)                                  # Grand Totals removed because we can calc at the end.
my_df1 = df.groupby('Transit_District')['Female'].apply(list).apply(pd.Series)
my_df1.columns = ['FEMALE'+str(i) for i in my_df1.columns]
#'FEMALE0', 'FEMALE1', 'FEMALE2', 'FEMALE3', 'FEMALE4', 'FEMALE5', 'FEMALE6'
my_df2 = df.groupby('Transit_District')['Male'].apply(list).apply(pd.Series)
my_df2.columns = ['MALE'+str(i) for i in my_df2.columns]
my_df3 = pd.merge(my_df1, my_df2, left_on='Transit_District', right_on='Transit_District', how='left')
#my_df3.columns = ['Transit_District', 'FEMALE0', 'FEMALE1', 'FEMALE2', 'FEMALE3', 'FEMALE4', 'FEMALE5', 'FEMALE6', 'MALE0', 'MALE1', 'MALE2', 'MALE3', 'MALE4', 'MALE5', 'MALE6']
#df.head(16)
my_df3['Grand Total'] = my_df3.sum(axis=1)
my_df3 = my_df3.iloc[np.r_[0:len(my_df3) - 2, -1, -2]]                               # Flip Grand Total and Unknown (for some reason was flipped)
my_df3.loc['Grand Total'] = my_df3.loc['Grand Total'] - my_df3.loc['Unknown']        # Subtract Unknown values from Grand Total
i = my_df3[(my_df3.FEMALE0 == 18) & ( my_df3.FEMALE1 == 15)].index
my_df3.drop(i, inplace=True)
my_df3

,FEMALE0,FEMALE1,FEMALE2,FEMALE3,FEMALE4,FEMALE5,FEMALE6,MALE0,MALE1,MALE2,MALE3,MALE4,MALE5,MALE6,Grand Total
Transit_District,,,,,,,,,,,,,,,
01,41,22,6,3,4,0,2,481,257,53,53,61,43,34,1060
02,18,7,4,0,2,1,0,228,97,22,13,27,26,9,454
03,9,7,1,2,4,2,3,160,100,15,20,27,28,21,399
04,38,17,6,5,2,15,6,517,325,61,51,57,71,53,1224
11,13,11,9,8,8,5,3,266,131,76,93,94,102,51,870
12,17,15,10,20,22,21,10,269,178,99,146,199,187,93,1286
20,13,13,3,1,6,4,2,152,105,66,54,36,53,41,549
23,9,7,4,4,2,4,2,79,51,32,22,11,24,21,272
30,27,17,18,21,9,13,14,219,156,106,73,58,94,85,910
32,17,14,1,3,2,8,2,156,130,40,38,38,52,26,527
33,30,21,11,9,7,3,6,226,219,111,72,35,52,68,870
34,10,13,14,3,3,7,5,125,147,138,56,27,35,34,617
Grand Total,242,164,87,79,71,83,55,2878,1896,819,691,670,767,536,9038

In [145]:
ef = pd.read_excel('gendersummons.xlsx') 
ef.columns = ['Transit_District', 'Female', 'Male', 'UNKNOWN', 'Grand Total']     # Specify column names.
ef = ef[ef.Transit_District != 'Transit Distict']                                 # Remove typo and repeating column headers.
ef = ef[ef.Transit_District.notnull()]                                            # Remove NaN lines
ef = ef.drop(['Grand Total', 'UNKNOWN'], axis=1)                                  # Grand Totals removed because we can calc at the end.
my_ef1 = ef.groupby('Transit_District')['Female'].apply(list).apply(pd.Series)
my_ef1.columns = ['FEMALE'+str(i) for i in my_ef1.columns]
#'FEMALE0', 'FEMALE1', 'FEMALE2', 'FEMALE3', 'FEMALE4', 'FEMALE5', 'FEMALE6'
my_ef2 = df.groupby('Transit_District')['Male'].apply(list).apply(pd.Series)
my_ef2.columns = ['MALE'+str(i) for i in my_ef2.columns]
my_ef3 = pd.merge(my_ef1, my_ef2, left_on='Transit_District', right_on='Transit_District', how='left')
#my_df3.columns = ['Transit_District', 'FEMALE0', 'FEMALE1', 'FEMALE2', 'FEMALE3', 'FEMALE4', 'FEMALE5', 'FEMALE6', 'MALE0', 'MALE1', 'MALE2', 'MALE3', 'MALE4', 'MALE5', 'MALE6']
#df.head(16)
my_ef3['Grand Total'] = my_ef3.sum(axis=1)
#my_ef3 = my_ef3.iloc[np.r_[0:len(my_ef3) - 2, -1, -2]]
my_ef3

,FEMALE0,FEMALE1,FEMALE2,FEMALE3,FEMALE4,FEMALE5,FEMALE6,MALE0,MALE1,MALE2,MALE3,MALE4,MALE5,MALE6,Grand Total
Transit_District,,,,,,,,,,,,,,,
01,538,494,456,652,791,990,672,481,257,53,53,61,43,34,5575
02,375,363,340,454,557,579,424,228,97,22,13,27,26,9,3514
03,172,134,141,239,245,397,382,160,100,15,20,27,28,21,2081
04,353,343,375,574,595,880,562,517,325,61,51,57,71,53,4817
11,170,120,135,205,252,275,471,266,131,76,93,94,102,51,2441
12,127,105,185,524,438,616,505,269,178,99,146,199,187,93,3671
20,293,258,281,251,261,304,296,152,105,66,54,36,53,41,2451
23,91,115,79,82,90,130,138,79,51,32,22,11,24,21,965
30,529,359,378,353,371,546,465,219,156,106,73,58,94,85,3792
32,165,135,99,169,167,347,187,156,130,40,38,38,52,26,1749
33,146,109,119,206,179,324,421,226,219,111,72,35,52,68,2287
34,263,239,224,211,217,282,279,125,147,138,56,27,35,34,2277
Grand Total,3222,2774,2812,3920,4163,5670,4802,3036,2075,915,795,771,896,617,36468

In [191]:
ff = pd.read_excel('racearrests.xlsx')
ff.columns = ['Transit_District', 'American Indian', 'Asian/Pac Isl', 'Black', 'Hispanic', 'Unknown', 'White', 'Grand Total']
ff = ff[ff.Transit_District != 'Transit Distict']                    # Remove typo and repeating column headers.
ff = ff[ff.Transit_District.notnull()]                               # Remove NaN lines
ff = ff.drop(['Grand Total', 'Unknown'], axis=1)
ff1 = ff.groupby('Transit_District')['American Indian'].apply(list).apply(pd.Series)
ff1.columns = ['American Indian'+str(i) for i in ff1.columns]

ff2 = ff.groupby('Transit_District')['Asian/Pac Isl'].apply(list).apply(pd.Series)
ff2.columns = ['Asian/PacIsl'+str(i) for i in ff2.columns]

ff3 = ff.groupby('Transit_District')['Black'].apply(list).apply(pd.Series)
ff3.columns = ['Black'+str(i) for i in ff3.columns]

ff4 = ff.groupby('Transit_District')['Hispanic'].apply(list).apply(pd.Series)
ff4.columns = ['Hispanic'+str(i) for i in ff4.columns]

ff5 = ff.groupby('Transit_District')['White'].apply(list).apply(pd.Series)
ff5.columns = ['White'+str(i) for i in ff5.columns]

ffs = reduce(lambda x,y: pd.merge(x,y, on='Transit_District', how='outer'), [ff1, ff2, ff3, ff4, ff5])
ffs = ffs.iloc[np.r_[0:len(ffs) - 2, -1, -2]]
ffs.loc['Grand Total'] = ffs.loc['Grand Total'] - ffs.loc['Unknown']
i = ffs[(ffs.White0 == 19) & ( ffs.White1 == 14)].index
ffs.drop(i, inplace=True)
ffs['Grand Total'] = ffs.sum(axis=1)
ffs

,American Indian0,American Indian1,American Indian2,American Indian3,American Indian4,American Indian5,American Indian6,Asian/PacIsl0,Asian/PacIsl1,Asian/PacIsl2,...,Hispanic5,Hispanic6,White0,White1,White2,White3,White4,White5,White6,Grand Total
Transit_District,,,,,,,,,,,,,,,,,,,,,
01,0,1,0,0,0,0,0,15,9,2,...,17,6,42,18,5,5,8,7,9,1054
02,0,1,0,0,0,0,0,8,2,0,...,6,4,28,12,1,2,3,4,1,444
03,0,0,0,0,0,0,0,1,0,0,...,8,8,7,5,0,2,0,3,2,398
04,0,1,0,1,0,0,0,7,3,1,...,29,18,38,22,2,5,6,14,11,1211
11,1,0,0,0,0,0,0,0,3,0,...,39,25,8,5,3,3,2,5,4,867
12,0,0,1,0,0,0,0,3,1,0,...,76,29,5,9,2,4,8,8,5,1281
20,1,1,0,0,0,0,1,15,9,9,...,28,18,8,12,2,0,2,7,2,536
23,1,0,0,0,0,0,0,1,1,2,...,5,1,3,3,1,0,2,1,1,267
30,0,0,0,0,0,0,0,2,1,3,...,18,14,18,16,11,12,6,13,10,904
32,1,0,0,0,0,0,0,0,1,1,...,8,4,9,5,1,2,1,4,3,526
33,0,0,0,0,0,0,0,1,3,0,...,19,16,9,15,6,8,4,9,8,867
34,0,0,0,0,0,0,0,6,3,4,...,14,12,24,33,23,13,2,8,11,608
Grand Total,4,4,1,1,0,0,1,59,36,22,...,267,155,199,155,57,56,44,83,67,8963

In [198]:
gf = pd.read_excel('racesummons.xlsx')
gf.columns = ['Transit_District', 'American Indian', 'Asian/Pac Isl', 'Black', 'Hispanic', 'Unknown', 'White', 'Grand Total']
gf = gf[gf.Transit_District != 'Transit Distict']                    # Remove typo and repeating column headers.
gf = gf[gf.Transit_District.notnull()]                               # Remove NaN lines
gf = gf.drop(['Grand Total', 'Unknown'], axis=1)
gf1 = gf.groupby('Transit_District')['American Indian'].apply(list).apply(pd.Series)
gf1.columns = ['American Indian'+str(i) for i in gf1.columns]

gf2 = gf.groupby('Transit_District')['Asian/Pac Isl'].apply(list).apply(pd.Series)
gf2.columns = ['Asian/PacIsl'+str(i) for i in gf2.columns]

gf3 = gf.groupby('Transit_District')['Black'].apply(list).apply(pd.Series)
gf3.columns = ['Black'+str(i) for i in gf3.columns]

gf4 = gf.groupby('Transit_District')['Hispanic'].apply(list).apply(pd.Series)
gf4.columns = ['Hispanic'+str(i) for i in gf4.columns]

gf5 = gf.groupby('Transit_District')['White'].apply(list).apply(pd.Series)
gf5.columns = ['White'+str(i) for i in gf5.columns]

gfs = reduce(lambda x,y: pd.merge(x,y, on='Transit_District', how='outer'), [gf1, gf2, gf3, gf4, gf5])
gfs['Grand Total'] = gfs.sum(axis=1)
gfs

,American Indian0,American Indian1,American Indian2,American Indian3,American Indian4,American Indian5,American Indian6,Asian/PacIsl0,Asian/PacIsl1,Asian/PacIsl2,...,Hispanic5,Hispanic6,White0,White1,White2,White3,White4,White5,White6,Grand Total
Transit_District,,,,,,,,,,,,,,,,,,,,,
01,8,10,7,8,15,13,8,134,117,92,...,832,598,473,431,381,498,676,752,517,13890
02,6,6,8,13,10,5,8,137,125,102,...,363,243,284,295,308,358,435,447,281,7938
03,3,1,0,0,2,2,3,21,23,21,...,445,461,101,77,90,130,154,164,191,5982
04,6,11,3,6,17,12,12,64,89,65,...,665,503,338,352,366,501,544,783,476,10904
11,0,1,0,1,2,1,2,12,13,8,...,669,866,26,21,39,39,37,67,97,7373
12,1,0,1,9,0,7,6,10,8,10,...,1039,912,28,20,24,89,87,126,79,10214
20,11,14,14,12,10,15,19,135,117,123,...,505,430,81,69,79,87,83,77,85,5824
23,4,4,3,1,0,7,2,19,31,17,...,117,88,25,24,23,15,18,21,28,2290
30,2,3,2,2,2,8,1,79,83,84,...,322,301,320,200,220,198,202,314,301,8567
32,3,2,1,1,0,3,3,17,8,12,...,165,98,87,52,39,49,106,183,90,4438
33,0,1,0,1,1,3,4,15,22,16,...,333,413,157,124,144,201,169,355,423,5523
34,1,3,2,1,1,1,1,80,85,65,...,206,241,285,264,274,263,217,304,278,4826
Grand Total,45,56,41,55,60,77,69,723,721,615,...,5661,5154,2205,1929,1987,2428,2728,3593,2846,87769

In [30]:
hf = pd.read_excel('agearrests.xlsx')
hf.columns = ['Transit_District', '10-17', '18-24', '25-40', '41-59', '60+', 'Grand Total']
hf = hf[hf.Transit_District != 'Transit Distict']                    # Remove typo and repeating column headers.
hf = hf[hf.Transit_District.notnull()]                               # Remove NaN lines
hf = hf.drop('Grand Total', axis=1)
hf1 = hf.groupby('Transit_District')['10-17'].apply(list).apply(pd.Series)
hf1.columns = ['10-17('+ str(i) + ')' for i in hf1.columns]

hf2 = hf.groupby('Transit_District')['18-24'].apply(list).apply(pd.Series)
hf2.columns = ['18-24('+str(i) + ')' for i in hf2.columns]

hf3 = hf.groupby('Transit_District')['25-40'].apply(list).apply(pd.Series)
hf3.columns = ['25-40('+str(i) + ')' for i in hf3.columns]

hf4 = hf.groupby('Transit_District')['41-59'].apply(list).apply(pd.Series)
hf4.columns = ['41-59('+str(i) + ')' for i in hf4.columns]

hf5 = hf.groupby('Transit_District')['60+'].apply(list).apply(pd.Series)
hf5.columns = ['60+('+str(i) + ')' for i in hf5.columns]

hfs = reduce(lambda x,y: pd.merge(x,y, on='Transit_District', how='outer'), [hf1, hf2, hf3, hf4, hf5])

hfs.loc['Grand Total'] = hfs.loc['Grand Total'] - hfs.loc['Unknown']
hfs.drop('Unknown', inplace=True)
hfs['Grand Total'] = hfs.sum(axis=1)
hfs

,10-17(0),10-17(1),10-17(2),10-17(3),10-17(4),10-17(5),10-17(6),18-24(0),18-24(1),18-24(2),...,41-59(5),41-59(6),60+(0),60+(1),60+(2),60+(3),60+(4),60+(5),60+(6),Grand Total
Transit_District,,,,,,,,,,,,,,,,,,,,,
01,8,4,4,0,0,0,0,186,104,13,...,6,8,9,2,3,1,0,1,2,1060
02,4,2,0,0,0,0,1,70,28,10,...,8,2,5,2,0,1,1,1,0,454
03,3,7,1,0,0,1,1,56,23,7,...,6,7,5,2,0,0,2,0,0,399
04,10,4,2,0,0,0,1,149,79,18,...,24,26,12,8,1,1,2,1,2,1224
11,19,5,0,4,1,0,0,91,43,22,...,31,16,5,3,2,2,1,1,1,870
12,11,6,2,6,3,5,0,97,61,27,...,55,33,4,2,1,3,3,3,3,1286
20,2,8,2,5,0,1,0,68,37,29,...,9,3,2,0,0,0,0,1,1,549
23,6,2,2,1,0,0,0,34,25,13,...,2,3,1,0,0,1,0,0,0,272
30,7,3,1,5,0,3,1,73,56,46,...,24,23,4,2,0,0,1,0,1,910
32,9,5,1,5,3,1,0,63,60,13,...,11,7,2,1,1,1,0,1,0,527
33,11,9,12,1,1,0,0,93,84,37,...,11,13,5,3,1,0,0,1,2,870
34,4,6,14,4,3,1,2,39,56,45,...,8,8,1,0,1,0,0,0,0,617
Grand Total,94,61,41,31,11,12,6,1019,656,280,...,195,149,55,25,10,10,10,10,12,9038

In [29]:
jf = pd.read_excel('agesummons.xlsx')
jf.columns = ['Transit_District', '10-17', '18-24', '25-40', '41-59', '60+', 'Unknown', 'Grand Total']
jf = jf[jf.Transit_District != 'Transit Distict']                    # Remove typo and repeating column headers.
jf = jf[jf.Transit_District.notnull()]                               # Remove NaN lines
jf = jf.drop(['Grand Total', 'Unknown'], axis=1)
jf1 = jf.groupby('Transit_District')['10-17'].apply(list).apply(pd.Series)
jf1.columns = ['10-17('+ str(i) + ')' for i in jf1.columns]

jf2 = jf.groupby('Transit_District')['18-24'].apply(list).apply(pd.Series)
jf2.columns = ['18-24('+str(i) + ')' for i in jf2.columns]

jf3 = jf.groupby('Transit_District')['25-40'].apply(list).apply(pd.Series)
jf3.columns = ['25-40('+str(i) + ')' for i in jf3.columns]

jf4 = jf.groupby('Transit_District')['41-59'].apply(list).apply(pd.Series)
jf4.columns = ['41-59('+str(i) + ')' for i in jf4.columns]

jf5 = jf.groupby('Transit_District')['60+'].apply(list).apply(pd.Series)
jf5.columns = ['60+('+str(i) + ')' for i in jf5.columns]

jfs = reduce(lambda x,y: pd.merge(x,y, on='Transit_District', how='outer'), [jf1, jf2, jf3, jf4, jf5])
jfs['Grand Total'] = jfs.sum(axis=1)
jfs

,10-17(0),10-17(1),10-17(2),10-17(3),10-17(4),10-17(5),10-17(6),18-24(0),18-24(1),18-24(2),...,41-59(5),41-59(6),60+(0),60+(1),60+(2),60+(3),60+(4),60+(5),60+(6),Grand Total
Transit_District,,,,,,,,,,,,,,,,,,,,,
01,80,75,68,121,92,93,50,810,789,701,...,435,306,27,20,21,23,48,57,41,14710
02,37,40,39,60,64,50,35,440,398,422,...,241,137,23,18,25,21,40,52,26,8651
03,52,53,44,86,71,83,93,239,189,194,...,312,217,14,5,17,18,31,55,32,6111
04,38,45,46,65,41,86,55,554,507,474,...,376,287,9,11,21,24,23,36,21,11418
11,53,52,47,92,50,49,57,284,276,302,...,253,320,4,2,17,13,12,22,36,7474
12,62,56,87,191,109,102,88,256,224,287,...,445,348,6,5,9,27,34,28,20,10356
20,89,66,72,69,48,74,45,420,367,401,...,190,186,10,10,15,10,13,26,26,6825
23,39,55,43,30,12,22,24,151,177,126,...,104,91,6,3,4,12,14,12,22,2577
30,137,98,81,109,111,113,114,605,381,462,...,216,192,17,14,7,13,13,10,12,9006
32,63,74,33,86,56,88,37,283,241,125,...,142,82,1,3,3,12,7,16,5,4524
33,31,34,18,55,24,42,47,256,225,226,...,132,154,4,6,10,9,8,15,15,5726
34,71,67,80,97,50,55,67,260,245,279,...,156,157,5,4,9,9,13,18,8,5119
Grand Total,752,715,658,1061,728,857,712,4558,4019,3999,...,3002,2477,126,101,158,191,256,347,264,92497