In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
df = pd.read_excel('genderarrests.xlsx')
df.columns = ['Transit_District', 'Female', 'Male', 'Grand Total']   # Specify column names.
df = df[df.Transit_District != 'Transit Distict']                    # Remove typo and repeating column headers.
df = df[df.Transit_District.notnull()]                               # Remove NaN lines
df = df.drop('Grand Total', axis=1)                                  # Grand Totals removed because we can calc at the end.
my_df1 = df.groupby('Transit_District')['Female'].apply(list).apply(pd.Series)
my_df1.columns = ['FEMALE'+str(i) for i in my_df1.columns]
my_df2 = df.groupby('Transit_District')['Male'].apply(list).apply(pd.Series)
my_df2.columns = ['MALE'+str(i) for i in my_df2.columns]
my_df3 = pd.merge(my_df1, my_df2, left_on='Transit_District', right_on='Transit_District', how='left')
my_df3['Grand Total'] = my_df3.sum(axis=1)
my_df3 = my_df3.iloc[np.r_[0:len(my_df3) - 2, -1, -2]]                               # Flip Grand Total and Unknown (for some reason was flipped)
my_df3.loc['Grand Total'] = my_df3.loc['Grand Total'] - my_df3.loc['Unknown']        # Subtract Unknown values from Grand Total
i = my_df3[(my_df3.FEMALE0 == 18) & ( my_df3.FEMALE1 == 15)].index
my_df3.drop(i, inplace=True)
my_df3

In [ ]:
ef = pd.read_excel('gendersummons.xlsx') 
ef.columns = ['Transit_District', 'Female', 'Male', 'UNKNOWN', 'Grand Total']     # Specify column names.
ef = ef[ef.Transit_District != 'Transit Distict']                                 # Remove typo and repeating column headers.
ef = ef[ef.Transit_District.notnull()]                                            # Remove NaN lines
ef = ef.drop(['Grand Total', 'UNKNOWN'], axis=1)                                  # Grand Totals removed because we can calc at the end.
my_ef1 = ef.groupby('Transit_District')['Female'].apply(list).apply(pd.Series)
my_ef1.columns = ['FEMALE'+str(i) for i in my_ef1.columns]
#'FEMALE0', 'FEMALE1', 'FEMALE2', 'FEMALE3', 'FEMALE4', 'FEMALE5', 'FEMALE6'
my_ef2 = ef.groupby('Transit_District')['Male'].apply(list).apply(pd.Series)
my_ef2.columns = ['MALE'+str(i) for i in my_ef2.columns]
my_ef3 = pd.merge(my_ef1, my_ef2, left_on='Transit_District', right_on='Transit_District', how='left')
#my_df3.columns = ['Transit_District', 'FEMALE0', 'FEMALE1', 'FEMALE2', 'FEMALE3', 'FEMALE4', 'FEMALE5', 'FEMALE6', 'MALE0', 'MALE1', 'MALE2', 'MALE3', 'MALE4', 'MALE5', 'MALE6']
#df.head(16)
my_ef3['Grand Total'] = my_ef3.sum(axis=1)
#my_ef3 = my_ef3.iloc[np.r_[0:len(my_ef3) - 2, -1, -2]]
my_ef3

In [ ]:
ff = pd.read_excel('racearrests.xlsx')
ff.columns = ['Transit_District', 'American Indian', 'Asian/Pac Isl', 'Black', 'Hispanic', 'Unknown', 'White', 'Grand Total']
ff = ff[ff.Transit_District != 'Transit Distict']                    # Remove typo and repeating column headers.
ff = ff[ff.Transit_District.notnull()]                               # Remove NaN lines
ff = ff.drop(['Grand Total', 'Unknown'], axis=1)
ff1 = ff.groupby('Transit_District')['American Indian'].apply(list).apply(pd.Series)
ff1.columns = ['American Indian'+str(i) for i in ff1.columns]

ff2 = ff.groupby('Transit_District')['Asian/Pac Isl'].apply(list).apply(pd.Series)
ff2.columns = ['Asian/PacIsl'+str(i) for i in ff2.columns]

ff3 = ff.groupby('Transit_District')['Black'].apply(list).apply(pd.Series)
ff3.columns = ['Black'+str(i) for i in ff3.columns]

ff4 = ff.groupby('Transit_District')['Hispanic'].apply(list).apply(pd.Series)
ff4.columns = ['Hispanic'+str(i) for i in ff4.columns]

ff5 = ff.groupby('Transit_District')['White'].apply(list).apply(pd.Series)
ff5.columns = ['White'+str(i) for i in ff5.columns]

ffs = reduce(lambda x,y: pd.merge(x,y, on='Transit_District', how='outer'), [ff1, ff2, ff3, ff4, ff5])
ffs = ffs.iloc[np.r_[0:len(ffs) - 2, -1, -2]]
ffs.loc['Grand Total'] = ffs.loc['Grand Total'] - ffs.loc['Unknown']
i = ffs[(ffs.White0 == 19) & ( ffs.White1 == 14)].index
ffs.drop(i, inplace=True)
ffs['Grand Total'] = ffs.sum(axis=1)
ffs

In [ ]:
gf = pd.read_excel('racesummons.xlsx')
gf.columns = ['Transit_District', 'American Indian', 'Asian/Pac Isl', 'Black', 'Hispanic', 'Unknown', 'White', 'Grand Total']
gf = gf[gf.Transit_District != 'Transit Distict']                    # Remove typo and repeating column headers.
gf = gf[gf.Transit_District.notnull()]                               # Remove NaN lines
gf = gf.drop(['Grand Total', 'Unknown'], axis=1)
gf1 = gf.groupby('Transit_District')['American Indian'].apply(list).apply(pd.Series)
gf1.columns = ['American Indian'+str(i) for i in gf1.columns]

gf2 = gf.groupby('Transit_District')['Asian/Pac Isl'].apply(list).apply(pd.Series)
gf2.columns = ['Asian/PacIsl'+str(i) for i in gf2.columns]

gf3 = gf.groupby('Transit_District')['Black'].apply(list).apply(pd.Series)
gf3.columns = ['Black'+str(i) for i in gf3.columns]

gf4 = gf.groupby('Transit_District')['Hispanic'].apply(list).apply(pd.Series)
gf4.columns = ['Hispanic'+str(i) for i in gf4.columns]

gf5 = gf.groupby('Transit_District')['White'].apply(list).apply(pd.Series)
gf5.columns = ['White'+str(i) for i in gf5.columns]

gfs = reduce(lambda x,y: pd.merge(x,y, on='Transit_District', how='outer'), [gf1, gf2, gf3, gf4, gf5])
gfs['Grand Total'] = gfs.sum(axis=1)
gfs

In [ ]:
hf = pd.read_excel('agearrests.xlsx')
hf.columns = ['Transit_District', '10-17', '18-24', '25-40', '41-59', '60+', 'Grand Total']
hf = hf[hf.Transit_District != 'Transit Distict']                    # Remove typo and repeating column headers.
hf = hf[hf.Transit_District.notnull()]                               # Remove NaN lines
hf = hf.drop('Grand Total', axis=1)
hf1 = hf.groupby('Transit_District')['10-17'].apply(list).apply(pd.Series)
hf1.columns = ['10-17('+ str(i) + ')' for i in hf1.columns]

hf2 = hf.groupby('Transit_District')['18-24'].apply(list).apply(pd.Series)
hf2.columns = ['18-24('+str(i) + ')' for i in hf2.columns]

hf3 = hf.groupby('Transit_District')['25-40'].apply(list).apply(pd.Series)
hf3.columns = ['25-40('+str(i) + ')' for i in hf3.columns]

hf4 = hf.groupby('Transit_District')['41-59'].apply(list).apply(pd.Series)
hf4.columns = ['41-59('+str(i) + ')' for i in hf4.columns]

hf5 = hf.groupby('Transit_District')['60+'].apply(list).apply(pd.Series)
hf5.columns = ['60+('+str(i) + ')' for i in hf5.columns]

hfs = reduce(lambda x,y: pd.merge(x,y, on='Transit_District', how='outer'), [hf1, hf2, hf3, hf4, hf5])

hfs.loc['Grand Total'] = hfs.loc['Grand Total'] - hfs.loc['Unknown']
hfs.drop('Unknown', inplace=True)
hfs['Grand Total'] = hfs.sum(axis=1)
hfs

In [ ]:
jf = pd.read_excel('agesummons.xlsx')
jf.columns = ['Transit_District', '10-17', '18-24', '25-40', '41-59', '60+', 'Unknown', 'Grand Total']
jf = jf[jf.Transit_District != 'Transit Distict']                    # Remove typo and repeating column headers.
jf = jf[jf.Transit_District.notnull()]                               # Remove NaN lines
jf = jf.drop(['Grand Total', 'Unknown'], axis=1)
jf1 = jf.groupby('Transit_District')['10-17'].apply(list).apply(pd.Series)
jf1.columns = ['10-17('+ str(i) + ')' for i in jf1.columns]

jf2 = jf.groupby('Transit_District')['18-24'].apply(list).apply(pd.Series)
jf2.columns = ['18-24('+str(i) + ')' for i in jf2.columns]

jf3 = jf.groupby('Transit_District')['25-40'].apply(list).apply(pd.Series)
jf3.columns = ['25-40('+str(i) + ')' for i in jf3.columns]

jf4 = jf.groupby('Transit_District')['41-59'].apply(list).apply(pd.Series)
jf4.columns = ['41-59('+str(i) + ')' for i in jf4.columns]

jf5 = jf.groupby('Transit_District')['60+'].apply(list).apply(pd.Series)
jf5.columns = ['60+('+str(i) + ')' for i in jf5.columns]

jfs = reduce(lambda x,y: pd.merge(x,y, on='Transit_District', how='outer'), [jf1, jf2, jf3, jf4, jf5])
jfs['Grand Total'] = jfs.sum(axis=1)
jfs

In [ ]:
for i in range(0,12):
    plt.figure(figsize=(5, 5))
    values = [float(my_df3.iloc[i, 0]), float(my_df3.iloc[i, 1]), float(my_df3.iloc[i, 2]), 
             float(my_df3.iloc[i, 3]), float(my_df3.iloc[i, 4]), float(my_df3.iloc[i,5]), float(my_df3.iloc[i,6])]
    values1 = [float(my_df3.iloc[i, 7]), float(my_df3.iloc[i, 8]), float(my_df3.iloc[i, 9]), 
              float(my_df3.iloc[i, 10]), float(my_df3.iloc[i, 11]), float(my_df3.iloc[i,12]), float(my_df3.iloc[i,13])]
    plt.plot(values, label='Female')
    plt.plot(values1, label='Male')
    plt.xticks(np.arange(7), ('2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2'))
    plt.yticks([0,100,200,300,400,500,600])
    plt.title('Chronological by Gender (Arrests)')
    plt.xlabel('Quarter')
    plt.ylabel('Number of People')
    #plt.legend()
    plt.legend(bbox_to_anchor=(1.29, 1.02), title="Gender")

In [ ]:
for i in range(0,12):
    plt.figure(figsize=(5, 5))
    values = [float(my_ef3.iloc[i, 0]), float(my_ef3.iloc[i, 1]), float(my_ef3.iloc[i, 2]), 
              float(my_ef3.iloc[i, 3]), float(my_ef3.iloc[i, 4]), float(my_ef3.iloc[i,5]), float(my_ef3.iloc[i,6])]
    values1 = [float(my_ef3.iloc[i, 7]), float(my_ef3.iloc[i, 8]), float(my_ef3.iloc[i, 9]), 
              float(my_ef3.iloc[i, 10]), float(my_ef3.iloc[i, 11]), float(my_ef3.iloc[i,12]), float(my_ef3.iloc[i,13])]
    plt.plot(values, label='Female')
    plt.plot(values1, label='Male')
    plt.xticks(np.arange(7), ('2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2'))
    plt.yticks([0,200,400,600,800,1000,1200, 1400, 1600, 1800, 2000])
    plt.title('Chronological by Gender (Summons)')
    plt.xlabel('Quarter')
    plt.ylabel('Number of People')
    #plt.legend()
    plt.legend(bbox_to_anchor=(1.29, 1.02), title="Gender")

In [ ]:
for i in range(0,12):
    plt.figure(figsize=(5, 5))
    values0 = [float(ffs.iloc[i, 0]), float(ffs.iloc[i, 1]), float(ffs.iloc[i, 2]), 
              float(ffs.iloc[i, 3]), float(ffs.iloc[i, 4]), float(ffs.iloc[i,5]), float(ffs.iloc[i,6])]
    
    values1 = [float(ffs.iloc[i, 7]), float(ffs.iloc[i, 8]), float(ffs.iloc[i, 9]), 
              float(ffs.iloc[i, 10]), float(ffs.iloc[i, 11]), float(ffs.iloc[i,12]), float(ffs.iloc[i,13])]
    
    values2 = [float(ffs.iloc[i, 14]), float(ffs.iloc[i, 15]), float(ffs.iloc[i, 16]), 
              float(ffs.iloc[i, 17]), float(ffs.iloc[i, 18]), float(ffs.iloc[i,19]), float(ffs.iloc[i,20])]
    
    values3 = [float(ffs.iloc[i, 21]), float(ffs.iloc[i, 22]), float(ffs.iloc[i, 23]), 
              float(ffs.iloc[i, 24]), float(ffs.iloc[i, 25]), float(ffs.iloc[i,26]), float(ffs.iloc[i,27])]
    
    values4 = [float(ffs.iloc[i, 28]), float(ffs.iloc[i, 29]), float(ffs.iloc[i, 30]), 
              float(ffs.iloc[i, 31]), float(ffs.iloc[i, 32]), float(ffs.iloc[i,33]), float(ffs.iloc[i,34])]
    plt.plot(values, label='American Indian')
    plt.plot(values1, label='Asian/Pac Isl')
    plt.plot(values2, label='Black')
    plt.plot(values3, label='Hispanic')
    plt.plot(values4, label='White')
    plt.xticks(np.arange(7), ('2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2'))
    plt.yticks([0, 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325])
    plt.title('Chronological by Race (Arrests)')
    plt.xlabel('Quarter')
    plt.ylabel('Number of People')
    plt.legend(bbox_to_anchor=(1, 1.02), title="Race")

In [ ]:
for i in range(0,12):
    plt.figure(figsize=(5, 5))
    values0 = [float(gfs.iloc[i, 0]), float(gfs.iloc[i, 1]), float(gfs.iloc[i, 2]), 
              float(gfs.iloc[i, 3]), float(gfs.iloc[i, 4]), float(gfs.iloc[i,5]), float(gfs.iloc[i,6])]
    
    values1 = [float(gfs.iloc[i, 7]), float(gfs.iloc[i, 8]), float(gfs.iloc[i, 9]), 
              float(gfs.iloc[i, 10]), float(gfs.iloc[i, 11]), float(gfs.iloc[i,12]), float(gfs.iloc[i,13])]
    
    values2 = [float(gfs.iloc[i, 14]), float(gfs.iloc[i, 15]), float(gfs.iloc[i, 16]), 
              float(gfs.iloc[i, 17]), float(gfs.iloc[i, 18]), float(gfs.iloc[i,19]), float(gfs.iloc[i,20])]
    
    values3 = [float(gfs.iloc[i, 21]), float(gfs.iloc[i, 22]), float(gfs.iloc[i, 23]), 
              float(gfs.iloc[i, 24]), float(gfs.iloc[i, 25]), float(gfs.iloc[i,26]), float(gfs.iloc[i,27])]
    
    values4 = [float(gfs.iloc[i, 28]), float(gfs.iloc[i, 29]), float(gfs.iloc[i, 30]), 
              float(gfs.iloc[i, 31]), float(gfs.iloc[i, 32]), float(gfs.iloc[i,33]), float(gfs.iloc[i,34])]
    plt.plot(values, label='American Indian')
    plt.plot(values1, label='Asian/Pac Isl')
    plt.plot(values2, label='Black')
    plt.plot(values3, label='Hispanic')
    plt.plot(values4, label='White')
    plt.xticks(np.arange(7), ('2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2'))
    plt.yticks([0, 200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000])
    plt.title('Chronological by Race (Summons)')
    plt.xlabel('Quarter')
    plt.ylabel('Number of People')
    plt.legend(bbox_to_anchor=(1.45, 1.02), title="Race")

In [ ]:
for i in range(0,12):
    plt.figure(figsize=(5, 5))
    values0 = [float(hfs.iloc[i, 0]), float(hfs.iloc[i, 1]), float(hfs.iloc[i, 2]), 
              float(hfs.iloc[i, 3]), float(hfs.iloc[i, 4]), float(hfs.iloc[i,5]), float(hfs.iloc[i,6])]
    
    values1 = [float(hfs.iloc[i, 7]), float(hfs.iloc[i, 8]), float(hfs.iloc[i, 9]), 
              float(hfs.iloc[i, 10]), float(hfs.iloc[i, 11]), float(hfs.iloc[i,12]), float(hfs.iloc[i,13])]
    
    values2 = [float(hfs.iloc[i, 14]), float(hfs.iloc[i, 15]), float(hfs.iloc[i, 16]), 
              float(hfs.iloc[i, 17]), float(hfs.iloc[i, 18]), float(hfs.iloc[i,19]), float(hfs.iloc[i,20])]
    
    values3 = [float(hfs.iloc[i, 21]), float(hfs.iloc[i, 22]), float(hfs.iloc[i, 23]), 
              float(hfs.iloc[i, 24]), float(hfs.iloc[i, 25]), float(hfs.iloc[i,26]), float(hfs.iloc[i,27])]
    
    values4 = [float(hfs.iloc[i, 28]), float(hfs.iloc[i, 29]), float(hfs.iloc[i, 30]), 
              float(hfs.iloc[i, 31]), float(hfs.iloc[i, 32]), float(hfs.iloc[i,33]), float(hfs.iloc[i,34])]
    plt.plot(values, label='10-17')
    plt.plot(values1, label='18-24')
    plt.plot(values2, label='25-40')
    plt.plot(values3, label='41-59')
    plt.plot(values4, label='60+')
    plt.xticks(np.arange(7), ('2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2'))
    plt.yticks([0, 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325])
    plt.title('Chronological by Age (Arrests)')
    plt.xlabel('Quarter')
    plt.ylabel('Number of People')
    #plt.legend(bbox_to_anchor=(1, 1.02), title="Age")
    plt.legend(bbox_to_anchor=(1.26, 1.02), loc='upper right', title="Age")

In [ ]:
for i in range(0,12):
    plt.figure(figsize=(5, 5))
    values0 = [float(jfs.iloc[i, 0]), float(jfs.iloc[i, 1]), float(jfs.iloc[i, 2]), 
              float(jfs.iloc[i, 3]), float(jfs.iloc[i, 4]), float(jfs.iloc[i,5]), float(jfs.iloc[i,6])]
    
    values1 = [float(jfs.iloc[i, 7]), float(jfs.iloc[i, 8]), float(jfs.iloc[i, 9]), 
              float(jfs.iloc[i, 10]), float(jfs.iloc[i, 11]), float(jfs.iloc[i,12]), float(jfs.iloc[i,13])]
    
    values2 = [float(jfs.iloc[i, 14]), float(jfs.iloc[i, 15]), float(jfs.iloc[i, 16]), 
              float(jfs.iloc[i, 17]), float(jfs.iloc[i, 18]), float(jfs.iloc[i,19]), float(jfs.iloc[i,20])]
    
    values3 = [float(jfs.iloc[i, 21]), float(jfs.iloc[i, 22]), float(jfs.iloc[i, 23]), 
              float(jfs.iloc[i, 24]), float(jfs.iloc[i, 25]), float(jfs.iloc[i,26]), float(jfs.iloc[i,27])]
    
    values4 = [float(jfs.iloc[i, 28]), float(jfs.iloc[i, 29]), float(jfs.iloc[i, 30]), 
              float(jfs.iloc[i, 31]), float(jfs.iloc[i, 32]), float(jfs.iloc[i,33]), float(jfs.iloc[i,34])]
    plt.plot(values, label='10-17')
    plt.plot(values1, label='18-24')
    plt.plot(values2, label='25-40')
    plt.plot(values3, label='41-59')
    plt.plot(values4, label='60+')
    plt.xticks(np.arange(7), ('2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2'))
    plt.yticks([0, 200, 400, 600, 800, 1000, 1200, 1400])
    plt.title('Chronological by Age (Summons)')
    plt.xlabel('Quarter')
    plt.ylabel('Number of People')
    plt.legend(bbox_to_anchor=(1.26, 1.02), loc='upper right', title="Age")